**/__pycache__
backend/fixtures/*.json
**/.python-version
**/*.logs
**/node_modules
**/docker-*.yml
**/*.md
**/*.log
**/Dockerfile*
node_modules
**/.next
**/.git


Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git

**/env/
**/env/*
**/venv/
**/venv/*
env
venv
